body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
  }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(40, 40, 40);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
  
.sidenav a:hover {
  color: white;
}

.openbtn {
  font-size: 40px;
  cursor: pointer;
  color: black;
  opacity: 0.75;
}
  
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
  
#main {
  transition: margin-left .5s;
  padding: 16px;
}
  
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.goated {
  color: grey;
  font-size: 5em;
  text-align: center;
  margin: 0;
  margin-top: -60px;
}

.subtitle {
  color: grey;
  font-size: 2em;
  text-align: center;
  padding-top: 0px;
  margin: 0;
}

button {
  color: grey;
}

.btn1:hover {
  color: black;
}

.button {
  display: inline-block;
  border-radius: 10px;
  background-color: grey;
  opacity: 75%;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 50px;
  margin-top: -40px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button {
  width: 40%;
}

.player {
  float: left;
  margin: 5px;
  border-radius: 5%;
}

.iq {
  float: left;
  margin: 5px;
  border-radius: 5%;
}

.button {
  vertical-align: middle;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 50px;
}

.btn_column {
  flex: 50%;
  padding: 20px;
}

.quote {
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 50px;
  width: 17.5px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%
}

.fa:hover {
    opacity: 0.7;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background-image: linear-gradient(to bottom left, #7E3EB1,#F80A00,#F7D302);
  color: white;
}

.icons {
  text-align: center;
  margin: 20px;
  margin-bottom: 10px;
}

.aboutimage {
  display: block;
  margin: auto;
}

.description {
  text-align: center;
}

.quote {
  margin: 1em;
  font-size: 1.5em;
  margin-bottom: -1em;
}

.author {
  font-weight: unset;
  font-size: 1.2em; 
}

hr { 
  display: block;
  margin-top: 1em;
  margin-bottom: -1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 300px;
} 

.photo {
  width: 670px;
  height: 400px;
}


