body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
  }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(40, 40, 40);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
  
.sidenav a:hover {
  color: white;
}

.openbtn {
  font-size: 40px;
  cursor: pointer;
  color: black;
  opacity: 0.75;
}
  
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
  
#main {
  transition: margin-left .5s;
  padding: 16px;
}
  
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.goated {
  color: grey;
  font-size: 5em;
  text-align: center;
  margin: 0;
  margin-top: -60px;
}

.subtitle {
  color: grey;
  font-size: 2em;
  text-align: center;
  padding-top: 0px;
  margin: 0;
}

button {
  color: grey;
}

.btn1:hover {
  color: black;
}

.button {
  display: inline-block;
  border-radius: 10px;
  background-color: grey;
  opacity: 75%;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 50px;
  margin-top: -40px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button {
  width: 40%;
}

.player {
  float: left;
  margin: 5px;
  border-radius: 5%;
}

.iq {
  float: left;
  margin: 5px;
  border-radius: 5%;
  margin-left: -5px;
}

.button {
  vertical-align: middle;
}

.row {
  display: flex;
  align-content: center;
}

.column {
  flex: 50%;
  padding: 50px;
}

.btn_column {
  flex: 50%;
  padding: 20px;
}

.quote {
  text-align: center;
}

.icons ul {
  position: absolute;
  left: 50%;
  top: 18%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
}
.icons ul li {
  list-style: none;
  margin: 0 10px;
}
.icons ul li .fa-google {
  color: #4285F4;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}

.icons ul li .fa-youtube {
  color: red;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}

.icons ul li .fa-instagram {
  color: #E1306C;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}

.icons ul li .fa:hover {
  color: #ffffff;
}
.icons ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0,0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.icons ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.icons ul li:nth-child(1) a:hover {
  background-color: #4285F4;
}
.icons ul li:nth-child(2) a:hover {
  background-color: red;
}
.icons ul li:nth-child(3) a:hover {
  background-image: linear-gradient(to bottom left, #833AB4, #E1306C, #FD1D1D, #FFDC80);
}

.aboutimage {
  display: block;
  margin: auto;
}

.description {
  text-align: center;
}

.quote {
  margin: 1em;
  font-size: 1.5em;
  margin-bottom: -1em;
}

.author {
  font-weight: unset;
  font-size: 1.2em; 
  margin-bottom: 1em;
}

hr { 
  display: block;
  margin-top: 1em;
  margin-bottom: -1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 300px;
} 

.photo {
  width: 670px;
  height: 400px;
}

.aboutimage {
  margin: 20px;
  width: 250px;
  opacity: 0.8;
  margin-top: -50px;
}

.smallheader {
  padding-top: 30px;
  font-size: 1.5em;
}


